*{
    margin: 0;
    padding: 0;
}
ul.menu{
    padding: 20px;
    background-color: black;
    font-size: 1.3em;
    text-align: center;
}
li{
    display: inline-block;
    padding-right: 20px;
}
a{
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

ul.menuS{
    text-align: center;
    font-style: normal;
    padding: 20px;
    background-color:black;
    font-size: 0.52em;
}
ul.menuS1{
    text-align: center;
    font-style: normal;
    padding: 20px;
    background-color:rgb(41, 41, 41);
    font-size: 0.52em;
    border-top: 4px solid rgb(95, 93, 93) ;
}
a.efecto-item:hover{
    font-size: 1.2em;
}
span{
    color: whitesmoke;
}